<div class="container mt-5">
  <div class="row">
    <div class="col col-4 col-lg-4 col-md-4">
       <div class="image">
         <img src="{{Data.image}}" alt="">
       </div>
    </div>
    <div class="col col-8 col-lg-8 col-md-8 ml-2">
          <div class="detail mt-3">
              <span style="font-size: 1.9vw; padding: 9px;">{{Data.name}}</span><br>
                <span style="padding: 9px;">Email: {{Data.email}}</span><br>
                <span style="padding: 9px;">Mob: {{Data.mobile}}<br></span>
                <span style="padding: 9px;">Alternate Mob : {{Data.alternateNumber}}<br></span>
          </div>
    </div>
  </div>
</div>
