<div class="container-fluid ">
  <div class="row">
    <div class="col-3 p-0">
      <div class="sidebar text-center">
        <a *ngIf="!isLoggedin()" routerLink="signin"><i class="fa fa-user"><span style="padding: 6px;">Signin</span></i></a>
        <a *ngIf="isLoggedin()"  routerLink="view-tournament"><i class="fa fa-trophy"><span style="padding: 6px;">All Tournaments</span></i></a>
        <a *ngIf="isLoggedin()"  routerLink="playerList"><i class="fa fa-baseball-ball"><span style="padding: 6px;">All Players</span></i></a>
        <a *ngIf="isLoggedin()"  routerLink="orgainiserList"><i class="fa fa-crown"><span style="padding: 6px;">All Orgainiser</span></i></a>
        <a *ngIf="isLoggedin()" (click)="signout()" routerLink="view-tournament"><i class="fa fa-arrow-left"><span style="padding: 6px;">Sign Out</span></i></a>
      </div>
    </div>
    <div class="col-9 mt-2">
      <h1 class="text-center mt-5">Pratispardha</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

